@import "~bootstrap-icons/font/bootstrap-icons.css";
.add-nember{
	display: flex; /* Important */
	border: 1px solid rgb(97, 97, 97);
	justify-content: center;
	width: 200px;
	height: 40px;
}
.add-nember p {
	font-weight: 530;
	margin-top: auto; /* Important */
	margin-bottom: auto; /* Important */
 }
 .add-nember button{
	margin-left: 10px;
 }
 .add-nember:hover{
	cursor: pointer;
 }
.action-delete-department{
	display: flex;
	justify-content: center;
}
.action-delete-department button{
	margin-top: auto;
	margin-bottom: auto;
}
::ng-deep .action-delete-department .material-icons{
	font-size: 40px !important;
}
.sex, .birth-date,.role-name,.phone-member{
	max-width: 160px;
}
.inp-sex, .inp-birth-date,.inp-role-name,.inp-phone-member{
	max-width: 160px;
}
.name-member{
	max-width: 200px;
}
.inp-name-member{
	max-width: 200px;
}
.btn-remove{
	max-width: 50px;
}
.property{
	display: flex;
    max-width: 160px;
}

.property p{
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.address-member{
	max-width: 350px;
}
.address-member p{
	width: 100%;
}
.inp-address-member{
	max-width: 244px;
}
.inp-address-member p{
	width: 100%;
}
.address-member p input{
	width: 100%;
	background: none;
	border: none;
}
.list-member-department{
	padding-bottom: 20px;
}
.list-member-department ::ng-deep .mat-form-field-flex{
	width: 70%;
}
.field-department{
	width: 100%;
	font-size: 10px;
}

.inp-btn-remove{
	padding-left: 10px;
	justify-content: center;
}
.department-content{
	margin-bottom: 30px;
}
.append-member{
	margin-bottom: 15px;
}
.form-control {
    border-color: #808288 !important;
}
// icon
.btn-remove-department{
	border: none;
	background: none;
}
.btn-remove-department i{
	color: #f80808;
	font-size: 35px;
}
.btn-remove-member{
	border: none;
	background: none;
}
.btn-remove-member i{
	color: #f80808;
	font-size: 18px;
}
